{% for comment in comments %}
    <div class="media mb-4">
        <div class="media-body">
            <h6 class="mt-0">
                <a class="blog-post-meta"
                   href="{% url 'posts:profile' comment.author.username %}">
                    {{ comment.author.username }}
                </a>
            </h6>
            <div class="blog-post-meta small"> {{ comment.created|date:"d-m-y G:i" }}
            </div>
            <p>
                {{ comment.text }}
            </p>
        </div>
    </div>
{% endfor %}