{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    {% load static %}
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'img/about.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                <br />
                <br />
                <br />
                <iframe width="560" height="315" src="https://www.youtube.com/embed/TQeoN01n2JQ"
                        title="Масяня. Эпизод 43. Хомяк"  allow="accelerometer;
                     autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

                </iframe>


            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Хомяк готов</h1>
                <p class="lead">
                    <br />
                    Я инженер на сотню рублей,<br />
                    И больше я не получу.<br />
                    Мне двадцать пять,<br />
                    И я до сих пор не знаю, чего хочу.<br />
                    И мне кажется, нет никаких оснований<br />
                    Гордиться своей судьбой,<br />
                    Но если б я мог выбирать себя,<br />
                    Я снова бы стал собой.<br />
                    <br />
                    Мне двадцать пять,<br />
                    И десять из них я пою, не зная о чем,<br />
                    И мне так сложно бояться той,<br />
                    Что стоит за левым плечом.<br />
                    И пускай мои слова не ясны,<br />
                    В этом мало моей вины.<br />
                    Но что до той, что стоит за плечом -<br />
                    Перед нею мы все равны.<br />
                    <br />
                    Может статься, что завтра стрелки часов<br />
                    Начнут вращаться назад,<br />
                    И тот, кого с плачем снимали с креста,<br />
                    Окажется вновь распят,<br />
                    И нежные губы станут опять<br />
                    Искать своего Христа,<br />
                    Но я пел, что пел, и хотя бы в том<br />
                    Совесть моя чиста.<br />
                    <br />
                    И я счастлив тем, как сложилось все,<br />
                    Даже тем, что было не так,<br />
                    Даже тем, что ветер в моей голове,<br />
                    И в храме моем бардак.<br />
                    Я просто пытался растить свой сад<br />
                    И не портить прекрасный вид.<br />
                    И начальник заставы поймет меня,<br />
                    И беспечный рыбак простит...<br />
                </p>

            </div>
        </div>
    </div>



    <iframe  style="border:none;width:100%;height:200px;" width="100%" height="200" src="https://music.yandex.ru/iframe/#playlist/dolganovAlex/3">Слушайте <a href='https://music.yandex.ru/users/dolganovAlex/playlists/3'>Мне нравится</a> — <a href='https://music.yandex.ru/users/dolganovAlex'>dolganovAlex</a> на Яндекс Музыке</iframe>


{% endblock %}